.information {
    padding: 0.5em;
}

.endpoint {
    background-color: #7986cb;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    padding: 0.25em;
    width: max-content;
}

@media screen and (max-width: 450px) {
    .information p:nth-child(1) span {
        line-height: 1.5em;
    }
}